<h1>User info</h1>

  <% @books.each do |book| %>
  <div>
    <%= image_tag @user.get_profile_image(100,100) %>
    <p>name<%= @user.name %></p>
    <p>introduction<%= @user.introduction %></p>
    <p><%= link_to "プロフィール編集",user_path %></p>
  </div>

  <% end %>
